/* body */

body{
    margin: 0;
    padding: 0;
}

/* width initialization */

.header_container, .intro_container, .why_choose_us, .features_wrapper, .reviews{
    max-width: 1140px;
    margin: 0 auto;
}

/* navbar */


.navbar .order_now{
    color: white;
    font-size: 15px;
    font-weight: 700;
    padding: 12px 22px;
    border-radius: 0;
    background-color: #57AD57;
    transition: 0.3s all;
}

.navbar .order_now:hover {
    background: #3d7d3d;
}

.navbar .nav-link {
    color: #333!important;
    font-weight: 500;
}
.navbar .nav-link:hover {
    color: #000!important;
}


/* section mutual properties */

.section_title{
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    color: #074f66;
}

/* intro section (carousel) */

header {
    margin-top: 59px;
    background: linear-gradient(225deg, rgba(47,212,253,1) 0%, rgba(0,102,195,1) 100%);
    color: white;
    padding: 210px 0;
    position: relative;
}

header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center bottom;
    background-image: url("img/bg-h.jpg");
}

header .title {
    margin-bottom: 20px;
    font-size: 45px;
}

header .subTitle {
    font-size: 28px;
    margin-bottom: 30px;
}


header .header_button {
    color: #2A8CB9;
    font-size: 15px;
    font-weight: 700;
    padding: 13px 30px;
    border-radius: 4px;
    background: white;
    border: 0;
}

header .header_button:hover {
    background: linear-gradient(225deg, rgba(0,102,195,1) 0%, rgba(47,212,253,1) 100%);
    color: white;
}

/* why choose us section */

.why_choose_us{
    margin-top: 50px;
}

.wcu_container{
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: space-between;
}

.wcu_item{
    display: flex;
    flex-direction: column;
    color: #828282;
    width: 350px;
}

.wcu_image{
    width: 120px;
    margin: 0 auto;
}

.wcu_title{
    font-size: 20px;
    font-weight: 600;
    color: #074f66;
    margin-top: 20px;
}

/* features section */

.features{
    background-color: #fafafa;
}

.features_wrapper{
    padding-top: 50px;
    padding-bottom: 50px;
}

.features_container{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.features_item{
    display: flex;
    flex-direction: column;
}

.features_ic{
    margin-bottom: 20px;
}

.features_ic p{
    margin-top: -8px;
    margin-left: 10px;
    font-size: 20px;
    font-weight: 500;
    display: inline;
}

.features_ic .check-icon{
    fill: #0570C8;
    width: 24px;
    height: 24px;
    display: inline;
}



/* plans section */

.plans{
    margin-top: 100px;
}

.plans_wrapper{
    display: flex;
    justify-content: center;
}

.plan_item_header{
    width: 100%;
    background-color: royalblue;
    color: white;
    text-align: center;
    border-radius: 5px 5px 0px 0px;
    font-size: 28px;
    font-weight: 600;
}

.plan_item_header p{
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
}

.plan_item_container {
    text-align: center;
    padding: 40px;
}

.pls{
    background-color: green;
}

.plt{
    background-color: rgb(110, 32, 32);
}

.old_price{
    text-decoration: line-through;
    color: #bebebe;
    font-size: 30px;
    line-height: 30px;
}

.save{
    color: rgb(13, 190, 13);
    font-weight: 600;
    font-size: 18px;
}

.price{
    font-size: 35px;
    font-weight: 800;
    padding: 20px 0;
    border-bottom: 1px solid #494a5a;
    margin: 0;
}

.plan_item_body {
    width: 100%;
    background-color: #2b2937;
    color: white;
    list-style: none;
    border-radius: 0px 0px 5px 5px;
}

.plan_item_body ul{
    margin: 0;
    list-style: none;
    padding: 0;
}

.plan_item_body ul li{
    border-bottom: 1px solid #494a5a;
    text-decoration: none;
    height: 52px;
    line-height: 52px;
}

.plan_body_bottom{
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 0;
}

.btn-primary {
    border: 0px;
    padding: 12px 30px;
    border-radius: 5px;
    transition: 0.3s all;
    font-size: 17px;
    font-weight: 500;
    background: #FD4754;
}

.btn-primary:hover {
    background: #bf2d37;
    text-decoration: none;

}

.btn-primary:focus {
    outline: 0;
    border: 0;
}

    /* reviews section */

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    position: relative;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0 , 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0 , 0.05);
}

.panel::before {
    content: '';
    position: absolute;
    left: 5px;
    top: 5px;
    border-radius: 10px;
    width: 3px;
    height: calc(100% - 10px);
    background: #e0dede;
}

.reviews{
    margin-top: 50px;
}

/* offer section */

.offer{
    justify-content: center;
    display: flex;
    padding-top: 15px;
    align-items: center;
    background-color: rebeccapurple;
}

.offer p{
    color: white;
}

.btn-primary-offer{
    font-weight: 600;
    padding: 8px 16px 8px 16px;
    background-color: rgb(13, 190, 13);
    border-radius: 5px;
    margin-left: 20px;
    cursor: pointer;
}

/* footer section */

.footer{
    margin: 0 auto;
    text-align: center;
    color: white;
    background-color: #2b2937;
}

.footer_container{
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.footer_container ul{
    margin: 0;
    list-style: none;
    display: flex;
    text-transform: uppercase;
}

.footer_container li a{
    margin-right: 30px;
    margin-left: 30px;
    color: white;
    font-size: 14px;
    text-decoration: none;
    transition: 0.3s ease;
}

.footer p {
    margin: 0;
    padding-bottom: 12px;
    font-size: 15px;
    color: gainsboro;
}



