/* body */

html {
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

/* width initialization */

.header_container, .intro_container, .why_choose_us, .features_wrapper, .reviews{
    max-width: 1140px;
    margin: 0 auto;
}

/* navbar */


.navbar .order_now{
    color: white;
    font-size: 15px;
    font-weight: 700;
    padding: 12px 22px;
    border-radius: 0;
    background-color: #57AD57;
    transition: 0.3s all;
}

.navbar .order_now:hover {
    background: #3d7d3d;
}

.navbar .nav-link {
    color: #333!important;
    font-weight: 500;
    cursor: pointer;
}
.navbar .nav-link:hover {
    color: #000!important;
}


/* section mutual properties */

.section_title{
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    color: #1391da;
}

/* intro section (carousel) */

header {
    margin-top: 59px;
    background: linear-gradient(225deg, rgba(47,212,253,1) 0%, rgba(0,102,195,1) 100%);
    color: white;
    padding: 210px 0;
    position: relative;
}

header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center bottom;
    background-image: url("img/bg-h.jpg");
}

header .title {
    margin-bottom: 20px;
    font-size: 45px;
}

header .subTitle {
    font-size: 28px;
    margin-bottom: 30px;
}

header img{
    margin-bottom: 20px;
}

header .header_button {
    color: #2A8CB9;
    font-size: 15px;
    font-weight: 700;
    padding: 13px 30px;
    border-radius: 4px;
    background: white;
    border: 0;
}

header .header_button:hover {
    background: linear-gradient(225deg, rgba(0,102,195,1) 0%, rgba(47,212,253,1) 100%);
    color: white;
}

/* why choose us section */

.why_choose_us{
    margin-top: 50px;
}

.wcu_container{
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
}

.wcu_item{
    display: flex;
    flex-direction: column;
    color: #828282;
    width: 350px;
    margin-bottom: 50px;
}

.wcu_image{
    width: 120px;
    margin: 0 auto;
}

.wcu_title{
    font-size: 20px;
    font-weight: 600;
    color: #074f66;
    margin-top: 30px;
}

.wcu_des{
    text-align: justify;
}

/* features section */

.features{
    background-color: #fafafa;
}

.features_wrapper{
    padding-top: 100px;
    padding-bottom: 100px;
}

.features_container{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.features_item{
    display: flex;
    flex-direction: column;
}

.features_ic{
    margin-bottom: 20px;
}

.features_ic p{
    margin-top: -8px;
    margin-left: 10px;
    font-size: 20px;
    font-weight: 500;
    display: inline;
}

.features_ic .check-icon{
    fill: #0570C8;
    width: 24px;
    height: 24px;
    display: inline;
}

.features_item ul{
    list-style: none;
    list-style-image: url('img/check.png');
}

.features_item ul li{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.features_item ul li span{
    position: relative;
    left: 8px;
}

/* plans section */



.plan_item_container_wrapper{
    box-shadow: 0 1px 6px rgb(60 64 67 / 30%);
    height: 520px;
    border-radius: 8px;
    padding: 2rem;
}

.gradient_wrapper{
    padding: 1rem;
    box-shadow: 0 1px 6px rgb(60 64 67 / 30%);
    border-radius: 8px;
    position: relative;
    background: linear-gradient(45deg, #0368c4, #41dafe);
    padding: 3px;
}

.recommended_plan{
    border-radius: 5px;
    background: white;
}

.plans{
    padding-top: 100px;
}

.plans_wrapper{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}



.price{
    background: #1a84c8;
    padding: 10px 5px 10px 5px;
    color: white;
    border-radius: 4px;
    width: 150px;
    margin: 0 auto;
    font-weight: 600;
}

.rec{
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 40px;
}

.dur{
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 50px;
}

.plan_item_container_wrapper ul{
    list-style: none;
    text-align: left;
    list-style-image: url(img/checked.png);
}

.plan_item_container {
    text-align: center;
    padding: 40px 40px 20px 40px;

}

.plan_item_container_wrapper ul li{
    margin-bottom: 10px;
}

.plan_item_container_wrapper ul li span{
    position: relative;
    left: 10px;
}

.plan_item_container_wrapper hr{
    margin-top: 30px;
    margin-bottom: 30px;
}

.plan_item_container a{
    text-decoration: none;
    color: black;
}

/* reviews section */

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    position: relative;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0 , 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0 , 0.05);
}

.panel::before {
    content: '';
    position: absolute;
    left: 5px;
    top: 5px;
    border-radius: 10px;
    width: 3px;
    height: calc(100% - 10px);
    background: #e0dede;
}

.reviews{
    margin-top: 50px;
}

/* offer section */

.offer{
    justify-content: center;
    display: flex;
    padding-top: 15px;
    align-items: center;
    background-color: #1a84c8;
}

.offer p{
    color: white;
}

.btn-primary-offer{
    font-weight: 600;
    padding: 8px 16px 8px 16px;
    background-color: white;
    border-radius: 5px;
    margin-left: 20px;
    cursor: pointer;
}

/* footer section */

.footer{
    margin: 0 auto;
    text-align: center;
    color: white;
    background-color: #01619e;
}

.footer_container{
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.footer_container ul{
    margin: 0;
    list-style: none;
    display: flex;
    text-transform: uppercase;
}

.footer_container li a{
    margin-right: 30px;
    margin-left: 30px;
    color: white;
    font-size: 14px;
    text-decoration: none;
    transition: 0.3s ease;
}

.footer p {
    margin: 0;
    padding-bottom: 12px;
    font-size: 15px;
    color: gainsboro;
}

.contact_body{
    height: 100px;
    padding-right: 20px;
}

.rec_ad{
    height: 100px;
}

.contact_body_container{
    margin-top: 100px;
}

.form-control{
    margin-bottom: 1rem;
}

.contact_body h1{
    margin-bottom: 2rem;
}

.contact_body textarea{
    height: 110px;
}

.contact_body button{
    float: right;
    padding: 10px 30px 10px 30px;
}

.contact_body .alert{
    margin-bottom: 2rem;
}

.rec_ad{
    text-align: center;
    height: 600px;
    border-radius: 8px;
    background: rgb(240, 240, 240);
}

.rec_ad p{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}